<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/uploadform">업로드</a><br>
    <a href="/uploadform2">여러개 업로드</a><br>
    <a href="/uploadform3">다른 종류 여러개 업로드</a>
  </body>
</html>
