<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/upload2" method="post" enctype="multipart/form-data">
        <table width="400" border="1">
            <tr>
                <th>제목</th>
                <td><input type="text" name="title" value="제목1"></td>
            </tr>
            <tr>
                <th>이미지</th>
                <td><!--배열이므로 이름 똑같이!-->
                    <input type="file" name="photos">
                    <input type="file" name="photos">
                    <input type="file" name="photos">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="upload">
                    <input type="reset" value="cancel">
                </td>
            </tr>
        </table>
    </form>
  </body>
</html>
