#home {
    text-align: center;
    background: url('../images/background_viewsource.png');
}

#home img {
    width: 50%;
    max-width: 200px;
}

#home .ui-controlgroup {
    margin: 0 auto;
    margin-top: 60px;
    width: 70%;
    max-width: 250px;
}

.ui-icon-blog {
    background-image: url('../images/icon_blog.png')
}

.ui-icon-video {
    background-image: url('../images/icon_video.png')
}

.ui-icon-sns {
    background-image: url('../images/icon_twitter.png')
}