<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <a href="/list">리스트</a><br>
    <form action="/write" method="post">
        <table border="1" width="400">
            <tr>
                <td>이름</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="passwd"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" rows="10" cols="30"></textarea></td>
            </tr>
            <td colspan="2">
                <input type="submit" value="쓰기">
                <input type="reset" value="취소">
            </td>
        </table>
    </form>
</body>

</html>